body
 {color: #40514E;
   margin: 0;
text-align: center;
font-family: 'Benne', serif;
font-size: 140%}

h1{font-family: 'Montserrat', sans-serif;
font-size: 5rem;
color:#66BFBF;
}

h2{font-family: 'Montserrat', sans-serif;
 font-size: 3rem;
margin:50px auto 0 auto;
color:#66BFBF;

line-height: 2;
padding-bottom: 10px;
}
.heading-programmer{font-size: 2rem;}
h3{color:#11999E;}

p{ line-height: 2;
  font-family: 'Nanum Gothic', sans-serif;
color:#40514E;}

hr{border-style: none;
border-top-style: dotted;
border-width: 5px;
width:5%;
color:#EAF6F6;
margin: 100px auto;}

div{text-align: center;
}
a{color:#11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin:10px 20px;
}
a:hover{color:#eae6e6;}
/*************************************class dividers*************************************/
.top-container{background-color:#EAF6F6;
padding-top: 100px;
position: relative;}
.pro{
  font-weight: bolder;
}


.middle-container{ margin: 100px 0 50px;
}

.bottom-container{background-color: #66BFBF;
  padding:30px 0 10px;

}
.footer-link{color:#11999E;}

.copy-rights{color:#EAF6F6;
font-size: 0.75rem;
margin: 20px 0;}

.closing-text{
  width:50%;
  margin: auto;
}
.skill-row{
  width:50%;
margin:100px auto 100px auto;
text-align: left;
line-height: 2;}

.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.img-programming{ width: 25%;
  float: left;
  margin-right: 30px;}



.img-arch{ width: 25%;
float: right;
margin-left: 30px;}

.img-archboy{ width: 25%;}



/***********************button***************/
.BUTTON_ATX {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #EAF6F6;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight:bold;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 40px auto;
}

.BUTTON_ATX:hover {
   background: #30E3CB;
   border: solid #2BCE4D 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
